/*start*/
.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  overflow: hidden;
}
.main {
  /*中间列宽度自适应*/
  flex: 1;
}
.sub{
  /*第三个参数为 flex-basis, 即分配多余空间之前，项目占据的主轴空间*/
  /*左右边栏宽度均固定为12em*/
  flex: 0 0 100px;
}
.extra {
  flex: 0 0 200px;
}
.sub {
  /*把左侧栏换到最前面*/
  order: -1;
}

/* 当在 pc 端展示时，将 flex 设置为1，铺满整个屏幕*/
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex: 1;
  }
}
